{% extends 'base.html' %}

{% block content %}
    <h1>Holiday Update</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-center">
            <input style="margin: 10px" type="submit" value="Update" class="btn btn-primary">
            <a style="margin: 10px" href="{% url 'holiday_delete' pk=object.pk %}" class="btn btn-danger">Delete</a>
            <a style="margin: 10px" href="{% url 'holiday_list' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
{% endblock %}