{% extends 'base.html' %}
{% load static %}
{% block content %}



    <table id="datatablesSimple" class="table-striped table-hover table-responsive-lg datatable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Position</th>
            <th>City</th>
            <th>Employment Type</th>
            <th>Hire Date</th>
            <th>Fire Date</th>
            <th>Is Active</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Position</th>
            <th>City</th>
            <th>Employment Type</th>
            <th>Hire Date</th>
            <th>Fire Date</th>
            <th>Is Active</th>
            <th>Actions</th>
        </tr>
        </tfoot>
        <tbody>
        {% for employee in employees %}
            <tr href="{% url 'employee_detail' employee.pk %}">
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.position }}</td>
                <td>{{ employee.get_city_display }}</td>
                <td>{{ employee.get_employment_type_display }}</td>
                <td>{{ employee.hire_date|date:'d-m-Y' }}</td>
                <td>{{ employee.fire_date|date:'d-m-Y' }}</td>
                {% if employee.is_active %}
                    <td class="active-label"><span class="badge bg-success">YES</span>
                    </td>
                {% else %}
                    <td><span class="badge bg-danger">NO</span></td>
                {% endif %}
                <td><a href="{% url 'employee_update' employee.pk %}"><span
                        class="badge rounded-pill bg-warning text-black">Edit</span></a>
                    <a href="{% url 'employee_detail' employee.pk %}"><span
                            class="badge rounded-pill bg-info text-black">Details</span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}